{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-8">
            {% include ('messages.html') %}
            <h2>News</h2>
            {% for news in news_list %}
            <h3><a href = "{{ news.url }}">{{ news.title }}</a></h3>
            <p>{{ news.published.strftime('%d.%m.%Y') }}</p>
            <hr /> 
            {% endfor %}
        </div>
        <div class="col-4">
            <h2>Weather forecast</h2>
            <h4>
                {% if weather %}
                    Temperature: {{ weather.temp_C }} °С <br>
                    Feels like: {{ weather.FeelsLikeC }} °С
                {% else %}
                    Weather service is currently inactive
                {% endif %}
            </h4>
        </div>
    </div>
{% endblock %}

